<form id="add-trip">
    <fieldset>
        <legend>Új út</legend>

        <label for="driver">Hogy hívnak?</label>
        <input type="text" id="driver" />

        <label for="from">Honnan indulsz?</label>
        <input type="text" id="from" />

        <label for="to">Hova mész? Naná, hogy Balatonakalira!</label>
        <input value="Balatonakali" disabled type="text" id="to" />

        <label for="leaving">Mikor indulsz?</label>
        <input type="text" id="leaving" />

        <label for="phone">Telefon</label>
        <input type="text" id="phone" />
    
        <label for="email">Email</label>
        <input type="email" id="email" />

        <label for="spots">Szabad helyek száma a kocsiban</label>
        <input type="number" id="spots" />

        <label for="other">Egyéb (kiskutya jöhet, gyakran állunk meg pisilni, kocsi színe, stb.)</label>
        <input type="text" id="other" placeholder="Egyéb"/>

        <input id="submit" type="submit" value="Meghirdetés"/>
        <div class="spinner" style="display: none;"></div>
    </fieldset>
</form>

<script>
    document.getElementById('add-trip').onsubmit = async () => {
        let spinner = document.querySelector('#add-trip .spinner');

        spinner.style.display = '';
        await axios.post('/trips/add', {
            from: document.getElementById('from').value,
            to: document.getElementById('to').value,
            leaving: document.getElementById('leaving').value,
            driver: document.getElementById('driver').value,
            phone: document.getElementById('phone').value,
            email: document.getElementById('email').value,
            spots: document.getElementById('spots').value,
            other: document.getElementById('other').value,
        });
        spinner.style.display = 'none';
    };
</script>