<h1>{{title}}</h1>
<p>Mit szeretnél csinálni?</p>

<a class="button" href="/trips">Milyen telekocsik vannak meghirdetve?</a>
<a class="button" href="/trips/add">Szeretnék telekocsi hirdetést feladni.</a>