<!DOCTYPE html>
<html>
<head>
    <title>MomenCar</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
