<ul>
    {{#each trips}}
        <li>
            Honnan: {{this.from}}
            Mikor: {{this.leaving}}
            {{!-- TODO: replace free spaces with subscribers length! --}}
            Szabad helyek száma: {{this.spots}}
        </li>
    {{else}}
        <li>
            Nincsenek még utak. :( <a class="button" href="#">Hirdess meg egyet! :)</a>
        </li>
    {{/each}}
</ul>